<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.myYorkSpace.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.myYorkSpace.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.myYorkSpace.server.AddUserServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.myYorkSpace.server.EventServiceImpl</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>FriendsServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.myYorkSpace.server.FriendsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/myyorkspacewebapp/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/myyorkspacewebapp/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServiceImpl</servlet-name>
    <url-pattern>/myyorkspacewebapp/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventServiceImpl</servlet-name>
    <url-pattern>/myyorkspacewebapp/event</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FriendsServiceImpl</servlet-name>
    <url-pattern>/myyorkspacewebapp/friends</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet context listeners -->
  <listener>
    <listener-class>edu.ycp.cs320.myYorkSpace.server.DatabaseInitListener</listener-class>
  </listener>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MyYorkSpaceWebApp.html</welcome-file>
  </welcome-file-list>

</web-app>
